<header>
  <div class="row navbar navbar-fix">
		<div class="col-md-7">
        <a class="navbar-brand" href="/">
          <img alt="homepage" class="wp200" src="https://d19n0fk3jipbuk.cloudfront.net/assets/NesterlyLogo-36e3dbdfe9956022868bc9e90a3da13d4294659219bbc3881c6c17e79f33fd58.svg">
        </a>
    </div>
    
		<div class="col-md-2  ">
      <a class="btn btn-secondary sign-up-btn-lg" href="javascript:void(0);" >
          <strong>List for free</strong>  
      </a>
		</div>
		<div class="col-md-1 nav-item">
      <a class="nav-link" href="javascript:void(0);">
          Support
      </a>
        
		</div>
		<div class="col-md-1 nav-item">
        <a class="nav-link" href="javascript:void(0);">
            Login
        </a>
        
		</div>
		<div class="col-md-1 nav-item">
        <a class="nav-link" href="javascript:void(0);">
            Signup
        </a>
        
		</div>
	</div>
</header>
