<header>
  <div class="row navbar navbar-fix">
		<div class="col-md-7 col-lg-6 col-xs-12">
            <a class="navbar-brand" href="/">
                 <img alt="homepage" class="wp200" src="https://d19n0fk3jipbuk.cloudfront.net/assets/NesterlyLogo-36e3dbdfe9956022868bc9e90a3da13d4294659219bbc3881c6c17e79f33fd58.svg">
           
                        

            </a>
             <button class="navbar-toggler" type="button"  (click)="openMobileView($event)"  >
                    <span class="fa fa-bars navbar-toggler-icon"></span>
             </button>
                    
        </div>
    <div class="nav-mobile-hide">
            <div class="col-md-4">
                <a class="btn btn-secondary sign-up-btn-lg" href="javascript:void(0);" >
                    <strong>List for free</strong>  
                </a>
            </div>
              <div class="col-md-3 nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        Support
                    </a>
              </div>
              <div class="col-md-3 nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        Login
                    </a>
              </div>
              <div class="col-md-3 nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    Signup
                </a>
              </div>
          </div>
    </div>
    
           
    <div class="nav-mobile-bar">
            <div class="col-md-2 col-xs-12 nav-item nav-light-items">
                <a class="nav-link" href="javascript:void(0);">
                     (781) 205-9607
                </a>
            </div>

            <div class="col-md-2 col-xs-12 nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        How it works
                    </a>
              </div>
            <div class="col-md-2 col-xs-12 nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        FAQs
                    </a>
              </div>
              <div class="col-md-1 col-xs-12 nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        Login
                    </a>
              </div>
              <div class="col-md-1 col-xs-12 nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        Signup
                    </a>
              </div>
    </div>
	
</header>
